body {
	background-color: rgb(129, 89, 200);
	font-family: "Papyrus", fantasy;
	font-size: 20pt;
	color: rgb(255, 255, 255); /* White for body text*/
	text-align: center; /* Keeps paragraphs left-aligned*/
}
h1 {
	display: inline-block; /* Shrinks width to fit text*/
	background-color: rgb(99, 69, 151);
	padding: 5px 10px;
	margin: 20px auto;
}

h2 {	background-color: rgb(99, 69, 151);
} .rounded-image { border-radius: 25px;
text-align: center;
}
p {
	background-color: rgb(99, 69, 151);
}
li {
	text-align: left;
}